<% @akcja = 'new'%>
<div class="container">
    <div class='row mt-5 mb-5'>
        <div class="col-sm">
            <div class="row">
                <h2>Dodanie nowej realizacji</h2>
            </div>
        </div>
        <div class="col-sm text-right">
            <%= link_to busy_index_path, class:'btn btn-primary button-index'  do %>
            <strong><%= fa_icon 'hand-point-left' %> Powrót</strong>
            <% end %>
        </div>
    </div> 
</div>
<%= render partial: 'form_template', locals: {busy: @busy, url: busy_index_path}%>