<div class="container">
    <div class="row mt-3 justify-content-center">
        <h2>Nasz cennik</h2>
    </div>
    <hr class="rounded margin-left-right">
    <div class="row mt-5">
        <div class="col-2">
            <div class="nav flex-column nav-pills mr-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Banery</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Oklejanie</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Drukowanie</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Usługa</th>
                            <th scope="col">Jednostka</th>
                            <th scope="col">Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Baner mały</td>
                            <td>m2</td>
                            <td>10 zł</td>
                            </tr>
                            <tr>
                            <td>Baner duży</td>
                            <td>m2</td>
                            <td>12 zł</td>
                            </tr>
                            <tr>
                            <td>Baner inny</td>
                            <td>m2</td>
                            <td>14 zł</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Usługa</th>
                                <th scope="col">Jednostka</th>
                                <th scope="col">Cena</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>Baner</td>
                                <td>Oklejanie</td>
                                <td>Drukowanie</td>
                                </tr>
                                <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Usługa</th>
                            <th scope="col">Jednostka</th>
                            <th scope="col">Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Baner</td>
                            <td>Oklejanie</td>
                            <td>Drukowanie</td>
                            </tr>
                            <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            </tr>
                            <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>